# Agora Council,              Colin Flanagan, Dmytro Semenov, Giuseppe Lanza, Istvan Hevele, Jon Kowalski, Ryan Martin, Ruxy Levy, Val Dumitrescu, Vladimir Sapronov
* @ModaOperandi/agora-council @upperbounds    @semenodm       @gringoireDM    @hevele-moda   @figgybit     @rlmartin    @Ruxy      @vdumitrescu     @vsapronov
