# Agora Council,              Chris Elvart, Colin Flanagan, Dmytro Semenov, Jon Kowalski, Mike Chimirev, Ryan Martin, Ruxy Levy, Val Dumitrescu, Vladimir Sapronov
* @ModaOperandi/agora-council @celvart      @upperbounds    @semenodm       @figgybit     @mchimirev     @rlmartin    @Ruxy      @vdumitrescu     @vsapronov
