# Agora Council,              Barry O'Neill, Colin Flanagan, Istvan Hevele, Jack Farzan, Ryan Martin, Ruxy Levy, Vladimir Sapronov
* @ModaOperandi/agora-council @barryoneill   @upperbounds    @hevele-moda   @jackfarzan  @rlmartin    @Ruxy      @vsapronov
